<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <!-- 공통 header-->
    <header id="common-header">
        <a id="header-title" onclick="location.href='/'">서비스 로고</a>

        <div th:if="${authPrincipal != 'anonymousUser'}">
            <button type="button" onclick="location.href='/mypage'">마이페이지</button>
            <button type="button" onclick="location.href='/logout'">로그아웃</button>
        </div>
        <div th:if="${authPrincipal == 'anonymousUser'}">
            <button type="button" onclick="location.href='/login'">로그인</button>
            <button type="button" onclick="location.href='/signup'">회원가입</button>
        </div>
    </header>
    <!-- 공통 header-->

    <div>
        <form action="/login" method="POST">
            <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}"/>
            <label>
                <input type="text" name="username" placeholder="아이디" required>
            </label>
            <label>
                <input type="password" name="password" placeholder="비밀번호" required>
            </label>
            <input type="submit" value="로그인">
        </form>
    </div>
</section>


<!--<script src="/js/user/login.js"></script>-->
</body>
</html>