<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- 공통 header-->
    <header id="common-header">
        <a id="header-title" onclick="location.href='/'">서비스 로고</a>

        <div th:if="${authPrincipal != 'anonymousUser'}">
            <button type="button" onclick="location.href='/mypage'">마이페이지</button>
            <button type="button" onclick="location.href='/logout'">로그아웃</button>
        </div>
        <div th:if="${authPrincipal == 'anonymousUser'}">
            <button type="button" onclick="location.href='/login'">로그인</button>
            <button type="button" onclick="location.href='/signup'">회원가입</button>
        </div>
    </header>
    <!-- 공통 header-->
    <h1>Dashboard</h1>
    <section>
        <div>
            <div th:text="'반갑습니다, ' + ${loginUserInfo.nickName} + '님!'"></div>
            <button type="button" onclick="location.href='/logout'">로그아웃</button>
            <button type="button" onclick="location.href='/mypage'">마이페이지</button>
        </div>
    </section>
</body>
</html>