<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/article/article.css}">
    <script th:src="@{/js/article/article.js}"></script>
    <title>Document</title>
</head>
<body>
<!-- 공통 header-->
<header class="common-header">
    <div class="common-header-container">
        <a class="header-title" onclick="location.href='/'" cursor="pointer">서비스 로고</a>

        <div th:if="${authPrincipal != 'anonymousUser' && loginUserInfo != null}">
            <div class="login-header-text-wrapper">
                <span th:text="${loginUserInfo.nickName}"></span>님, 환영합니다.
            </div>
            <div class="login-header-button-wrapper">
                <button type="button" onclick="location.href='/mypage'">마이페이지</button>
                <button type="button" onclick="location.href='/logout'">로그아웃</button>
            </div>

        </div>
        <div th:if="${authPrincipal == 'anonymousUser'}">
            <button type="button" onclick="location.href='/login'">로그인</button>
            <button type="button" onclick="location.href='/signup'">회원가입</button>
        </div>
    </div>
</header>
<!-- 공통 header-->

<section>
    <div class="section-container">
        <div class="section-container-title">
            자유게시판
        </div>
        <div class="section-container-description-button-wrapper">
            <div class="section-container-description" >게시글 상세조회</div>
            <div th:if="${loginUserInfo != null && loginUserInfo.nickName == articleDetail.author}" class="section-container-buttons">
                <button class="button-special" id="article-update-button" type="button" onclick="toggleEditMode(true)">수정</button>
                <button class="button-special" id="article-return-button" type="button" onclick="toggleEditMode(false)" style="display: none">취소</button>
                <button class="button-special" id="article-save-button" type="button" onclick="submit()" style="display: none">저장</button>
                <button class="button-special" id="article-delete-button" type="button">삭제</button>
            </div>
        </div>
        <div class="section-container-article">
            <div class="article-title-wrapper" >
                <div class="article-title" id="title-view" th:text="${articleDetail.title}"></div>
                <label for="title-edit"></label>
                <input class="edit-element" id="title-edit"  type="text" name="title" th:value="${articleDetail.title}" style="display: none" required/>
                <span class="error-message" id="title-error"></span>
            </div>
            <div class="article-info-wrapper">
                <div class="article-left-info-wrapper">
                    <div class="article-author"></div>
                    <div class="article-created-at"></div>
                </div>
                <div class="article-right-info-wrapper">
                    <div class="article-comment-count">
                        <img id="comment-img" src="/media/article/speech-bubble.png" alt="article comment icon"/>
                        <span class="article-comment-count-span"></span>
                    </div>
                    <div class="article-like-count">
                        <img id="like-img" src="/media/article/thumbs-up.png" alt="article like icon"
                             onmouseover="bigImg(true, 'like')"
                             onmouseleave="bigImg(false, 'like');"
                             onclick="createLike()"/>
                        <span class="article-like-count-span"></span>
                    </div>
                </div>
            </div>
            <div class="article-content-wrapper">
                <div id="content-view" class="article-content"  th:text="${articleDetail.content}"></div>
                <label for="content-edit"></label>
                <textarea id="content-edit" class="edit-element" name="content" th:text="${articleDetail.content}" style="display: none" rows="20" cols="50" required></textarea>
                <span class="error-message" id="content-error"></span>
            </div>
            <div class="article-comment-wrapper">
                <div th:each="comment, index : ${articleDetail.comments}">
                    <!-- 댓글 작성자 -->
                    <div class="comment-author" id="comment-author-view" th:text="${comment.author}"></div>

                    <!-- 댓글 내용 -->
                    <div class="comment-content" id="comment-content-view" th:text="${comment.content}"></div>
                    <label for="comment-content-edit"></label>
                    <input class="comment-edit-element" id="comment-content-edit"  type="text" name="content" th:value="${comment.content}" style="display: none" required/>
                    <span class="error-message" id="comment-content-edit-error"></span>

                    <!-- 댓글 작성일자 -->
                    <div class="comment-created-at" th:text="${comment.createdAt}"></div>

                    <!-- 댓글 수정 / 수정 취소 / 저장 / 삭제 버튼 -->
                    <div th:if="${loginUserInfo != null && loginUserInfo.nickName == comment.author}" class="section-container-buttons">
                        <button class="button-special comment" id="comment-update-button" type="button" onclick="toggleCommentEditMode(true)">수정</button>
                        <button class="button-special comment" id="comment-return-button" type="button" onclick="toggleCommentEditMode(false)" style="display: none">취소</button>
                        <button class="button-special comment" id="comment-update-save-button" type="button" th:attr="onclick=|submitComment(${comment.id})|" style="display: none">저장</button>
                        <button class="button-special comment" id="comment-delete-button" type="button">삭제</button>
                    </div>
                </div>

            </div>
            <!-- 신규 댓글 작성 -->
            <div th:if="${loginUserInfo != null}" class="article-comment-write-wrapper">
                <label for="comment-content-write"></label>
                <textarea id="comment-content-write" cols="30" rows="5" placeholder="댓글을 입력하세요."></textarea>
                <span class="error-message" id="comment-content-error"></span>
                <input class="button-save" id="comment-save-button" type="submit" value="저장"/>
            </div>

        </div>
    </div>

</section>

<!-- 공통 footer -->
<footer class="common-footer">
    <div class="common-footer-container">
        <a class="common-footer-title" onclick="location.href='/'" cursor="pointer">서비스 로고</a>
        <div class="common-footer-copyright">Copyright 2025. 장한빛. All rights reserved.</div>
    </div>
</footer>
<!-- 공통 footer -->

<script th:inline="javascript">

    // TODO: 함수 분리

    // 좋아요 누르기 기능
    function createLike() {
        // 로그인 유저 정보
        let loginUser = [[${loginUserInfo}]]

        // 로그인 확인
        if (!loginUser) {
            alert("로그인이 필요합니다.")
        } else {

            // 좋아요 생성
            fetch(`/api/like?articleId=${id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            }).then(response => {

                if (response.ok) {
                    // 아직 좋아요를 누르지 않은 경우(좋아요가 정상 생성된 경우)
                    window.location.reload();
                } else if (response.status === 400) {
                    // 이미 좋아요를 누른 경우
                    response.text().then(r => {
                        // 좋아요 id
                        const likeId = r.split(":").pop();

                        // 좋아요 취소
                        fetch(`/api/like/${likeId}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                            }
                        }).then(response => {
                            // 정상 취소 시 새로고침
                            if (response.ok) {
                                window.location.reload();
                            }
                        }).catch(error => {
                            console.log("Error: ", error);
                        });
                    });
                }
            }).catch(error => {
                console.log("Error: ", error);
            });

        }
    }

</script>
</body>
</html>