<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/article/editor.css}">
    <script th:src="@{/js/article/editor.js}"></script>
    <title>Document</title>
</head>
<body>
<!-- 공통 header-->
<header class="common-header">
    <div class="common-header-container">
        <a class="header-title" onclick="location.href='/'" cursor="pointer">서비스 로고</a>

        <div th:if="${authPrincipal != 'anonymousUser' && loginUserInfo != null}">
            <div class="login-header-text-wrapper">
                <span th:text="${loginUserInfo.nickName}"></span>님, 환영합니다.
            </div>
            <div class="login-header-button-wrapper">
                <button type="button" onclick="location.href='/mypage'">마이페이지</button>
                <button type="button" onclick="location.href='/logout'">로그아웃</button>
            </div>

        </div>
        <div th:if="${authPrincipal == 'anonymousUser'}">
            <button type="button" onclick="location.href='/login'">로그인</button>
            <button type="button" onclick="location.href='/signup'">회원가입</button>
        </div>
    </div>
</header>
<!-- 공통 header-->

<section>
    <div class="section-container">
        <div class="section-container-title" onclick="location.href='/dashboard'">
            자유게시판
        </div>
        <div class="section-container-description-button-wrapper">
            <div class="section-container-description">글 작성하기</div>
        </div>
        <form class="article-editor-wrapper">
            <div class="article-editor-title">
                <label for="article-title">제목</label>
                <textarea id="article-title" cols="50" rows="1" placeholder="제목을 입력해주세요."></textarea>
                <span class="error-message" id="title-error"></span>
            </div>
            <div class="article-editor-content">
                <label for="article-content">내용</label>
                <textarea id="article-content" cols="50" rows="20" placeholder="내용을 입력해주세요."></textarea>
                <span class="error-message" id="content-error"></span>
            </div>
            <div class="article-editor-footer">
                <button class="button-special" type="button">취소</button>
                <input class="button-save" type="submit" value="저장"/>
            </div>
        </form>


    </div>
</section>


<!-- 공통 footer -->
<footer class="common-footer">
    <div class="common-footer-container">
        <a class="common-footer-title" onclick="location.href='/'" cursor="pointer">서비스 로고</a>
        <div class="common-footer-copyright">Copyright 2025. 장한빛. All rights reserved.</div>
    </div>
</footer>
<!-- 공통 footer -->
</body>
</html>