.section-container-user-info-wrapper {
    margin-top: 7vh;
    display: flex;
    border-bottom: 1px solid #aeaeae;
    padding-bottom: 5vh;
    justify-content: center;
}

.section-container-user-info-img-wrapper img {
    margin-right: 2vw;

    width: 7vw;
}
.section-container-user-info-text-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    justify-content: space-evenly;
}

.section-container-user-info-text-wrapper strong {
    font-size: 18px;
}

.section-container-user-info-text-wrapper span {
    font-size: 16px;
}

#section-container-signout-button {
    width: 10%;
    margin-top: 3vh;

}